.menu-page{
    position: fixed;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
    display:none;
    z-index:100000;
}
.click-area{
    flex-grow: 2;
    background-color: rgba(10, 7, 7, 0.442);
}
.menu{
    color:#F0CC9D;
    flex-grow: .25;
    background-color: transparent;
    backdrop-filter: blur(20px);
}
.menu-page.display{

    display:flex;
}
.menu-heading{
    font-weight: 500;
    font-size: x-large;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu a{

    text-decoration: none;
}
.menu a div{
    color:#122101;
    height:3vh;
    margin: 5px;
    padding :5px;
}
.menu a div{
    gap:.5rem;
    color:#F0CC9D;
    display: flex;
    justify-content: center;
}
.testing{
    font-size:1.35rem;
}
.menu-link{
    font-size:1.55rem;

}

