.Explore {
    display: flex;
    height: 100vh;
    width: 100vw;
    background-color:#0B0A08;
    overflow: hidden;
}
.explore {
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-shrink: 0;
    background-color:  #0B0A08;
    color: #F0CC9D;
}
.justz {
    justify-content: center;
    align-items: center;
    text-align: center;
    /*background:linear-gradient(to right,  #120f0e , #0B0A08);*/
    background-color: #0B0A08;
    color: #F0CC9D;
    font-size:100px;
}
.product-desc{
    flex-shrink: 1;
    padding:15px;
    margin:5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size:25px;
}
.product-desc p{
    text-align: center;
}
.product-data{
    display: flex;
    height:90%;
}
.product-container h2{
    text-align: center;
}
.product-image{
    flex-shrink: 2;
    display: flex;
    justify-content: end;
}
.product-benefits{
    flex-shrink: 1;
    padding:15px;
    margin:10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size:25px;
}
.product-benefits p{
    text-align: center;
}
#first{
    color:#DFEBAF;
background:
  radial-gradient(
    circle at 60% 50%,
    rgba(150, 160, 83, 0.18),
    transparent 45%
  ),
  #0B0A08;
}
#second{
        color:#FFE4B1;
background:
  radial-gradient(
    circle at 60% 50%,
    rgba(232, 166, 75, 0.20),
    transparent 45%
  ),
  #0B0A08;
}
#third{
    color:#F0C3DF;
    background:
  radial-gradient(
    circle at 60% 50%,
    rgba(157, 91, 130, 0.20),
    transparent 45%
  ),
  #0B0A08;
}
@media(max-width: 798px){
    .desktop{
        display:none;
    }
}
.pin-spacer{
    background-color:#0B0A08;
}
