.display-product{
    position: relative;
    display: flex;
    justify-content: center;
    min-height:55vh;
        background:linear-gradient(to right,  #0B0A08, #161311 57% , #0B0A08);
    }
.nutrition{
        background:linear-gradient(to right,  #0B0A08 , #161311 57%, #0B0A08);
    color:#8D5E2D;
    display: flex;
    justify-content: center;
    padding:3px;
}