.display-product-scroll{
    position: relative;
    display: flex;
    justify-content: center;
    height:75vh;
        background:linear-gradient(to right,  #0B0A08, #161311 57% , #0B0A08);
    }
.nutrition{
        background:linear-gradient(to right,  #0B0A08 , #161311 57%, #0B0A08);
    color:#8D5E2D;
    display: flex;
    justify-content: center;
    padding:3px;
}

@media(max-width:800px){
    .display-product-scroll{
        height:auto;
    }
}